<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7SX80PCWWW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7SX80PCWWW');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(87036476, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/87036476" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="js/suisai.js"></script>
    <script defer src="js/descriptions/chsDescription.js"></script>
    <script defer src="js/descriptions/missionDescription.js"></script>
    <script defer src="js/descriptions/taskDescription.js"></script>
    <script defer src="js/descriptions/yearDescription.js"></script>
    <script defer src="js/descriptions/inviteDescription.js"></script>
    <script defer src="js/index.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Сюцай PRO</title>
    <style>
        .anchor {
            padding-top: 80px;
            margin-top: -80px;
        }

        .copy {
            cursor: cell;
            background-color: none;
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
        }

        .copy:hover {
            background-color: ghostwhite;
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
        }

        .w-form-inline-dd {
            width: 40px;
        }

        .w-form-inline-dddd {
            width: 50px;
        }

        .large-text {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>

<div class="container-fluid mt-5 pt-3" id="app">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">Сюцай. PRO</a>
            <input type="number" placeholder="дд" class="form-control form-control-sm w-form-inline-dd" min="1" max="31"
                   step="1" v-model="day">
            <input type="number" placeholder="мм" class="form-control form-control-sm w-form-inline-dd" min="1" max="12"
                   step="1" v-model="month">
            <input type="number" placeholder="гггг" class="form-control form-control-sm w-form-inline-dddd" min="1900"
                   max="2050" step="1" v-model="year">
            <span class="small ml-1">{{`ЧС${chs} М${mission} ЛГ${selfYear}`}}</span>
        </div>
    </nav>
    <div class="mb-3 small">
        <i>Присоединяйтесь к чату в телеграмме по улучшению программы <a href="https://t.me/+xqXuBb7gnGA0MzVi">https://t.me/+xqXuBb7gnGA0MzVi</a></i>
    </div>
    <div>
        <div id='express mt-5' class='anchor'>
            <h3 class='copy' onclick="setSelection('consultation')">Экспресс Консультация</h3>
        </div>

        <form action="#" class="form-inline">

            <input type="text" placeholder="ФИО" class="form-control" v-model="fio">

        </form>
        <form action="#" class="form-inline mt-2">
            <input type="number" placeholder="дд" class="form-control col-3" min="1" max="31" step="1" v-model="day">
            <input type="number" placeholder="мм" class="form-control col-3" min="1" max="12" step="1" v-model="month">
            <input type="number" placeholder="гггг" class="form-control col-6" min="1900" max="2050" step="1"
                   v-model="year">
        </form>

        <div class='mt-2'>
            <h6>Нажмите на заголовки или кнопку для выделения и копирования </h6>
            <button class='btn btn-sm btn-primary' onclick="setSelection('consultation')">ВСЁ</button>

            <button class='btn btn-sm btn-success' onclick="setSelection('chs')">ЧС</button>
            <button class='btn btn-sm btn-success' onclick="setSelection('mission')">Миссия</button>
            <button class='btn btn-sm btn-success' onclick="setSelection('task')">Задача</button>
            <button class='btn btn-sm btn-success' onclick="setSelection('year')">Год</button>
        </div>
    </div>
    <hr>
    <div id='consultation'>
        <h3 class='copy mb-2' onclick="setSelection('consultation')">Экспресс-консультация по науке Сюцай</h3>
        <p>{{fio && `Имя: ${fio}`}}</p>
        <p>Дата рождения: {{day}}.{{month}}.{{year}}</p>
        <p>Число Сознания: {{chs}}. Миссия: {{mission}}. Личный Год: {{selfYear}}</p>
        <br>


        <h4 class='copy' onclick="setSelection('chs')">Число Сознания</h4>
        <div id="chs" class="large-text">{{day && chsDescription[chs - 1]}}</div>
        <h4 class='copy' onclick="setSelection('mission')">Миссия</h4>
        <div id="mission" class="large-text">{{day && month && year && missionDescription[mission - 1]}}</div>
        <h4 class='copy' onclick="setSelection('task')">Задача от Творца</h4>
        <div id="task" class="large-text">{{day && taskDescription[chs - 1]}}</div>
        <h4 class='copy' onclick="setSelection('year')">Личный Год</h4>
        <div id="year" class="large-text">{{day && month && yearDescription[selfYear - 1]}}</div>
    </div>
    <hr>
    <blockquote class="text-center blockquote mb-0" style="font-size: 10px;">
        <footer class="blockquote-footer">Мы - Мастера, и для нас этот сайт в подарок, абсолютно без оплаты, всегда!
            <br/><cite>Если от вас хотел кто-то деньги за подарок, спросите его дату рождения ^-^</cite>
            <br/><cite>Сайт: <a href='https://lyumih.github.io/suisai-express/' target="_blank">https://lyumih.github.io/suisai-express/</a></cite>
        </footer>
    </blockquote>
    <hr>
    <div>
        <h3 id='number' class='anchor'>Посчитать Число, Город, Имя, Карточку или Телефон </h3>
        <div>
            <span><i>Буквы считает только на английском для точности</i></span>
            <input type="text" pattern="[A-Za-z]" placeholder="Введите текст на английском. Например, Moskva"
                   v-model="textCalc"
                   class="form-control mb-4 mt-2">
            <div>
                <strong>Итоговая Цифра: {{textCalcResult}}</strong>
                <ul class="list-group">
                    <li class="list-group-item" :class="{active: textCalcResult==1}">1 Популярность</li>
                    <li class="list-group-item" :class="{active: textCalcResult==2}">2 Личное благополучие, к
                        замужеству
                    </li>
                    <li class="list-group-item" :class="{active: textCalcResult==3}">3 Солидность</li>
                    <li class="list-group-item" :class="{active: textCalcResult==4}">4 Отчужденность</li>
                    <li class="list-group-item" :class="{active: textCalcResult==5}">5 Артистизм</li>
                    <li class="list-group-item" :class="{active: textCalcResult==6}">6 Успех, к замужеству</li>
                    <li class="list-group-item" :class="{active: textCalcResult==7}">7 Вызов природе</li>
                    <li class="list-group-item" :class="{active: textCalcResult==8}">8 Постоянный упорный труд</li>
                    <li class="list-group-item" :class="{active: textCalcResult==9}">9 Эмоциональная глубина</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="anchor mt-4" id="invite">
        <h3 class='copy' onclick="setSelection('inviteText')">Приглашение на разбор</h3>
        <div id="inviteText" class="large-text">{{inviteDescription}}</div>
    </div>
    <hr>
    <h3 class='anchor' id='instructions'>Видеоинструкция</h3>
    <div style="max-width: 500px;">

        <iframe width="100%" height="400" src="https://www.youtube.com/embed/rKDj7fX3fq8" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <hr>

    <p class='anchor' id='contacts'>
    <h3>Обо мне 2/4</h3>
    Всего хорошего,<br>
    С любовью, Ваш Мастер Михей 8 с PRO потока, 02.04.1996 (ЧС 2, Миссия 4).
    <br/><a href="https://youtu.be/if273-_weIg" target="_blank">Моя Видеовизитка</a><br>

    Я <a href="https://vk.com/mikhail_eco_coach" target="_blank">ВКонтакте</a> и <a
        href="https://www.instagram.com/mikhail_eco_coach/" target="_blank">Instagram</a>, но лучше в <a
        href="https://t.me/mikhail_eco_coach" target="_blank">Телеграмм</a> <a href="https://t.me/mikhail_eco_coach"
                                                                               target="_blank">https://t.me/mikhail_eco_coach</a>.
    <br/>Телефон для связи: <a href="tel:+79105990489">+79105990489</a>
    <br/>Давайте дружить, Ваш Михей 2/4.</p>
    <p>P.S. Я буду признателен за Тёплые слова!.</p>
</div>

<script>
    function setSelection(id) {
        var target = document.getElementById(id);
        var rng, sel;
        if (document.createRange) {
            rng = document.createRange();
            rng.selectNode(target)
            sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(rng);
        } else {
            var rng = document.body.createTextRange();
            rng.moveToElementText(target);
            rng.select();
        }
        navigator.clipboard.writeText(sel.toString())
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
