<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7SX80PCWWW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-7SX80PCWWW');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(87036476, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/87036476" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="js/suisai.js"></script>
  <script defer src="js/descriptions/chsDescription.js"></script>
  <script defer src="js/descriptions/triggers.js"></script>
  <script defer src="js/descriptions/missionDescription.js"></script>
  <script defer src="js/descriptions/taskDescription.js"></script>
  <script defer src="js/descriptions/yearDescription.js"></script>
  <script defer src="js/descriptions/inviteDescription.js"></script>
  <script defer src="js/index.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <title>Сюцай PRO</title>
  <style>
    .anchor {
      padding-top: 80px;
      margin-top: -80px;
    }

    .copy {
      cursor: cell;
      background-color: none;
      -webkit-transition: background-color 1s;
      transition: background-color 1s;
    }

    .copy:hover {
      background-color: ghostwhite;
      -webkit-transition: background-color 1s;
      transition: background-color 1s;
    }

    .w-form-inline-dd {
      width: 40px;
    }

    .w-form-inline-dddd {
      width: 50px;
    }

    .large-text {
      white-space: pre-wrap;
    }

    .page-container {
      max-width: 1200px;
      margin: 0 auto;
    }

    #about img {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
  </style>
</head>

<body>

  <div class="container-fluid mt-5 pt-3" id="app">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="d-flex align-items-center page-container">
          <a class="navbar-brand" href="#">Сюцай PRO</a>
          <button class="btn btn-primary mr-3" type="button" data-toggle="collapse" data-target="#calendar"
            aria-expanded="false" aria-controls="calendar">
            Календарь
          </button>
        </div>
      </nav>
    </header>

    <main class="page-container">
      <!-- О Сюцай-->
      <div class='card my-3' data-toggle="collapse" data-target="#about">
        <div class='card-body'>
          <h5 class="card-title">О науке Сюцай</h5>
          <div class="collapse" id="about">
            <h6>Добрый день, друзья!</h6>
            <p>Вы находитесь на самом информативном и полезном интернет-ресурсе, посвященном цифровой психологии Сюцай.
              Данный сайт
              подготовлен мастером Сюцай Целовальновым Дмитрием для помощи новым мастерам и всем желающим прикоснуться к новым
              трансформационным знаниям.</p>
            <img src="https://i.ytimg.com/vi/5F9I3lz7csY/maxresdefault.jpg" alt="Сюцай" class="img-thumbnail">
            <p>Сюцай – это цифровая наука, где дата рождения является кодом человеческой души. В цифрах даты рождения
              скрыты таланты,
              способности, предрасположенности, сильные стороны и направление реализации. Также, в дате рождения скрыты
              недостающие
              компетенции, т.е. тот опыт, который душа пришла в этом земном воплощении нарабатывать.</p>
            <p>Дословно, «Сюцай» переводится как «знать на расстоянии», т.е. практикующий мастер может рассказать о
              вашей данности,
              склонностях, болях, проблемах, удовольствиях и т.д. гораздо больше, чем вы можете знать о себе сами. При
              этом вас он
              может даже и не видеть. Многие сравнивают Сюцай с нумерологией, потому что в обоих случаях речь идет о
              влиянии цифр на
              судьбу человека, но принципы Сюцай гораздо глубже. Не зря ее еще называют цифровой психологией. Она
              направлена на
              изучение дисциплины ума и реализации души.</p>
            <p>Знания Сюцай передаются от Учителя к ученику. Именно поэтому, все обучения в Школе Сюцай проходят только
              в формате
              офлайн в странах Европы, СНГ, а теперь и в ОАЭ.</p>
            <img src="https://pic.rutubelist.ru/userappearance/23/47/2347c91e671077ef92285a5acb6bc8ed.jpeg" alt="Фото со школы Сюцай, где много учеников с дипломами" class="img-thumbnail">
            <p>Основателем Сюцай является Жанат Кожамжаров, доктор психологических наук, президент Международного
              Института
              Интегративной Медицины, обладатель множества регалий, наград и орденов, полученных за исцеление
              нуждающихся в лечении
              людей по всему миру. Именно он развил идею о том, что дата рождения человека содержит в себе уникальную
              информацию,
              открывает дверь в мир познания собственного Я и понимания своей судьбы.</p>
            <img src="https://i.ytimg.com/vi/eEC-ZhaNRTU/maxresdefault.jpg" alt="фото Жаната" class="img-thumbnail">
            <p>Основой восприятия знаний Сюцай является спокойное сознание, т.е. отсутствие мыслей и эмоций в голове. В
              этом состоянии
              вы способны воспринимать новую информацию, и она формируется внутри вас в виде твердых знаний. Поэтому все
              ученики школы
              Сюцай перед началом обучения проходят вживую практику эмоционального очищения сознания Огненный Цыгун.
              Проводит практику
              лично Жанат Кожамжаров. Подробнее о практике вы можете посмотреть здесь [ссылка на видео про цыгун из
              ютуба].
              Результатом ее прохождения является спокойное сознание, отсутствие мыслей, легкое блаженство, а на
              внутреннем плане
              происходит гармонизация всех пяти первоэлементов, являющихся основой организма человека. О первоэлементах
              и их балансе
              также подробно рассказывают именно на Школе.</p>
            <img src="https://iskanderzhuma.com/images/syucai-gallery/7.jpg" alt="Плакат первоэлементы" class="img-thumbnail">
            <p>Спокойное сознание, понимание законов мироздания и энергии цифр позволяют мастерам Сюцай поступательно
              идти в жизни,
              финансовой реализации, вопросах построения отношений без проживания кризисных или критических ситуаций,
              ведь всегда
              легче выиграть, когда ты знаешь правила игры.</p>
            <p>Согласно Сюцай, есть важные числа, которые способны повлиять на жизнь человека. Сюда относится не только
              дата рождения,
              но и дата вступления в брак, число имени, номер квартиры, телефона и даже даты заключения договоров.</p>
            <p>Понимание того, какое влияние могут оказать все эти числа, делает человека более осознанным и способно
              изменить многие
              сферы жизни, например</p>
            <ul>
              <li>улучшить материальное положение;</li>
              <li>наладить отношения с окружающими и в семье;</li>
              <li>построить карьеру;</li>
              <li>раскрыть творческий потенциал;</li>
              <li>улучшить здоровье;</li>
              <li>научиться жить яркой жизнью.</li>
            </ul>
            <img src="http://sun9-71.userapi.com/impg/c855728/v855728693/20ce35/qdb-kE-EUZo.jpg?size=907x619&quality=96&sign=917cf8de67e031c64d678bcff635f6fb&type=album" alt="Плакат с конем" class="img-thumbnail">
            <p>Это основной плакат науки Сюцай. Через понимание его сути происходит расширение сознания в голове и,
              следовательно,
              меняются действия в реальной жизни. Подробно данный плакат рассматривается на оффлайн мастер-классах и
              Школе Сюцай.</p>
            <h5>Аспекты Сюцай.</h5>
            <p>В данном разделе приведены основные понятия, которыми оперирует наука Сюцай. Ниже вы сможете
              самостоятельно «примерить»
              эти знания на себя, введя в соответствующую форму свою дату рождения.</p>
            <h5>Число сознания</h5>
            <p>Число сознания – это сам день рождения человека. Если день рождения состоит из двух цифр, то их нужно просто сложить.
            Например, вы родились 21 марта, значит ваше число сознания 3 (2 + 1). Всего существует 9 чисел сознания. Оно открывает
            путь реализации души, и показывает чего хочет эго человека, от чего человек будет испытывать удовольствие, а от чего
            разрушаться. Ниже в калькуляторе дат рождения вы сможете автоматически рассчитать свое число сознания и получить
            персональные рекомендации.</p>
            <img src="https://4brain.ru/blog/wp-content/uploads/2021/10/2.-%D0%97%D0%B0%D0%BA%D0%BE%D0%BD-%D1%87%D0%B8%D1%81%D0%B5%D0%BB-%D0%A1%D1%8E%D1%86%D0%B0%D0%B9.jpg" alt="Таблица ЧС" class="img-thumbnail" class="img-thumbnail" class="img-thumbnail">
            <h5>Число миссии</h5>
            <p>В науке Сюцай под миссией человека подразумевается не его профессиональное предназначение (врач, учитель и т.д.), как,
            например, в нумерологии, а то, как человек действует в своей жизни.</p>
            <p>Число миссии рассчитывается как сумма всех цифр даты рождения, сведенная к одному числу, и показывает, как человек будет
            действовать в зависимости от того в положительных он находится эмоциях или отрицательных. Всего существует 9 видов
            миссий. Ниже в калькуляторе дат рождения вы сможете автоматически рассчитать свою миссию и получить персональные
            рекомендации.</p>
            <img src="https://n1s1.hsmedia.ru/fe/b9/b8/feb9b89a15f18342a3545fc1f1c7237e/576x465_0xac120003_14908875661595415860.jpg" alt="плакат с миссией" class="img-thumbnail">
            <h5>Матрица</h5>
            <p>Матрица представляет собой совокупность энергии всех цифр в дате рождения человека. Всего таких энергий 9, и каждая из
            них имеет особое значение. Энергии формируют между собой 12 радиальных линий, наполненных смыслом. Среди них есть линия
            здоровья, линия денег, линия семейного благополучия и т.д. Матрица помогает понять, где у человека стоит блок и как от
            него избавиться.</p>
            <p>Есть еще ряд аспектов и внутренних механизмов, которые раскрываются при изучении науки. Описать их текстом на сайте вряд
            ли получится.</p>
            <img src="https://i.siteapi.org/FOlriy0CWWpp4O-Za8puQr9pmfc=/fit-in/1400x1000/center/top/s2.siteapi.org/0236b52beda64a1/img/3262q93x6xes88csck0go0oksooscw" alt="Матрица" class="img-thumbnail">
            <h5>Электронный календарь по науке Сюцай</h5>
            <p>Согласитесь, что каждый наш год не похож на предыдущий? Причем происходят события, которые нельзя заранее просчитать и
            предугадать. Так вот календарь Сюцай – инструмент, подробно показывающий на какие аспекты жизни нужно сделать акцент в
            каждый календарный год. Понимая энергии текущего периода, вы знаете какие события и какие особенности вашего
            самочувствия и поведения могут с вами произойти, и вы заранее к этому готовы. Следуя рекомендациям календаря, вы идете
            поступательно и дисциплинировано согласно плану вашей жизни. Посмотрите презентационный ролик и подробный прямой эфир
            про электронный календарь.</p>
            <p><a href="https://docs.google.com/spreadsheets/d/1w5m2Fek34fIsUvyStTT3AtPRsxhe07lPu0KO8VO8FFs/edit?usp=sharing"
              class="card-link" target="_blank">Посмотреть демонстрацию</a></p>
            <h5>Энергия имени</h5>
            <p>Имя – мантра человека. Когда каждый из нас слышит свое имя – реагирует вся внутренняя структура. И от того как свое имя
            мы слышим зависит работа нашего сознания и наши действия в жизни. В строке ниже вы можете самостоятельно ввести свое имя
            на латинице, т.е. английскими буквами, таким же образом, как оно указано в вашем заграничном паспорте и в результате
            увидите, как ваше имя интерпретируется через цифровую психологию Сюцай. Мастера всегда подробно поясняют, что означает
            имя, и какие действия предпринять для гармонизации этого значения. Через данный сервис вы также можете подобрать для
            себя номер успешной банковской карты, но которую всегда будут приходить деньги, подходящий именно вам номер мобильного
            телефона, куда будут в изобилии звонить ваши клиенты и номер автомобиля, который подходит вам по энергии.</p>
            
            <h5>Как помогает Сюцай в бизнесе.</h5>
            <p>Частыми клиентами по нашей практике являются бизнесмены. Оно и понятно, ведь бизнесмен – человек, который хочет получить
            прибыль от своего дела. А цифровая наука Сюцай помогает бизнесу в следующих вопросах:</p>
            <ul>
              <li>расчет индивидуальный код успеха владельца бизнеса;</li>
              <li>расчет успешного дня регистрации юр. лица, подбор названия юр. лица;</li>
              <li>расчет дней для подписания договоров;</li>
              <li>расположение сотрудников и оборудования в офисе</li>
              <li>расстановка сотрудников в компании согласно заложенных сильных сторон и компетенций;</li>
              <li>создание отношений в коллективе с пониманием энергии даты рождения каждого сотрудника;</li>
              <li>формирование карьерной лестницы через раскрытие талантов сотрудников.</li>
            </ul>
            <img src="http://suzai.ru/wp-content/uploads/2020/07/snimok-ekrana-2020-07-13-v-19.25.35.png" alt="Буквы в Цифры Сюцай" class="img-thumbnail">
            <br>
            <h6>Контакты</h6>
            <p>Пишите Дмитрию Целовальнову по всем возможным вопросам, записи на консультации и обучению: <a href="https://t.me/dmitriy_tselovalnov2" target="_blank">t.me/dmitriy_tselovalnov2</a>, WhatsApp:
            <a href="tel:79200787683">+79200787683</a></p>
          </div>
        </div>
      </div>
      <!-- ЭЛЕКТРОННЫЙ КАЛЕНДАРЬ -->
      <div class='card my-3' data-toggle="collapse" data-target="#calendar">
        <div class='card-body'>
          <h6 class="card-title">Календарь Сюцай PRO</h6>
          <div class="collapse" id="calendar">
            <p>Пишите Дмитрию для приобретения календаря <i><a href="https://t.me/dmitriy_tselovalnov2" class="card-link"
                  target="_blank">t.me/dmitriy_tselovalnov2</a></i></p>
            <a href="https://docs.google.com/spreadsheets/d/1w5m2Fek34fIsUvyStTT3AtPRsxhe07lPu0KO8VO8FFs/edit?usp=sharing"
              class="card-link" target="_blank">Открыть Демо</a>
            <h3 class='anchor' id='instructions'>Видеоинструкция</h3>
            <div style="max-width: 500px;">

              <iframe width="100%" height="400" src="https://www.youtube.com/embed/dZdfkh1NVuU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Пройди экспресс консультацию по науке Сюцай и получи индивидуальные рекомендации -->
      <div>
        <div id='express mt-5' class='anchor'>
          <h3 class='copy' onclick="setSelection('consultation')">Экспресс Консультация</h3>
        </div>

        <form action="#" class="form-inline">

          <input type="text" placeholder="ФИО" class="form-control" v-model="fio">

        </form>
        <form action="#" class="form-inline mt-2">
          <input type="number" placeholder="дд" class="form-control col-3" min="1" max="31" step="1" v-model="day">
          <input type="number" placeholder="мм" class="form-control col-3" min="1" max="12" step="1" v-model="month">
          <input type="number" placeholder="гггг" class="form-control col-6" min="1900" max="2050" step="1"
            v-model="year">
        </form>

        <div class='mt-2'>
          <h6>Нажмите на заголовки или кнопку для выделения и копирования </h6>
          <button class='btn btn-sm btn-primary' onclick="setSelection('consultation')">ВСЁ</button>

          <button class='btn btn-sm btn-success' onclick="setSelection('chs')">ЧС</button>
          <button class='btn btn-sm btn-success' onclick="setSelection('triggers')">Триггеры</button>
          <button class='btn btn-sm btn-success' onclick="setSelection('mission')">Миссия</button>
          <button class='btn btn-sm btn-success' onclick="setSelection('task')">Задача</button>
          <button class='btn btn-sm btn-success' onclick="setSelection('year')">Год</button>
        </div>
      </div>
      <hr>
      <div id='consultation'>
        <h3 class='copy mb-2' onclick="setSelection('consultation')">Экспресс-консультация по науке Сюцай</h3>
        <p>{{fio && `Имя: ${fio}`}}</p>
        <p>Дата рождения: {{day}}.{{month}}.{{year}}</p>
        <p>Число Сознания: {{chs}}. Миссия: {{mission}}. Личный Год: {{selfYear}}</p>
        <br>


        <h4 class='copy' onclick="setSelection('chs')">Число Сознания</h4>
        <div id="chs" class="large-text">{{day && chsDescription[chs - 1]}}</div>
        <h4 class='copy' onclick="setSelection('triggers')">Триггеры Числа Сознания</h4>
        <div id="triggers" class="large-text">{{day && triggers[chs - 1]}}</div>
        <h4 class='copy' onclick="setSelection('mission')">Миссия</h4>
        <div id="mission" class="large-text">{{day && month && year && missionDescription[mission - 1]}}</div>
        <h4 class='copy' onclick="setSelection('task')">Задача от Творца</h4>
        <div id="task" class="large-text">{{day && taskDescription[chs - 1]}}</div>
        <h4 class='copy' onclick="setSelection('year')">Личный Год</h4>
        <div id="year" class="large-text">{{day && month && yearDescription[selfYear - 1]}}</div>
      </div>
      <hr>
      <div>
        <h3 id='number' class='anchor'>Посчитать Число, Город, Имя, Карточку или Телефон </h3>
        <div>
          <span><i>Буквы считает только на английском для точности</i></span>
          <input type="text" pattern="[A-Za-z]" placeholder="Введите текст на английском. Например, Moskva"
            v-model="textCalc" class="form-control mb-4 mt-2">
          <div>
            <strong>Итоговая Цифра: {{textCalcResult}}</strong>
            <ul class="list-group">
              <li class="list-group-item" :class="{active: textCalcResult==1}">1 Популярность</li>
              <li class="list-group-item" :class="{active: textCalcResult==2}">2 Личное благополучие, к
                замужеству
              </li>
              <li class="list-group-item" :class="{active: textCalcResult==3}">3 Солидность</li>
              <li class="list-group-item" :class="{active: textCalcResult==4}">4 Отчужденность</li>
              <li class="list-group-item" :class="{active: textCalcResult==5}">5 Артистизм</li>
              <li class="list-group-item" :class="{active: textCalcResult==6}">6 Успех, к замужеству</li>
              <li class="list-group-item" :class="{active: textCalcResult==7}">7 Вызов природе</li>
              <li class="list-group-item" :class="{active: textCalcResult==8}">8 Постоянный упорный труд</li>
              <li class="list-group-item" :class="{active: textCalcResult==9}">9 Эмоциональная глубина</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="anchor mt-4" id="invite">
        <h3 class='copy' onclick="setSelection('inviteText')">Приглашение на диагностику</h3>
        <div id="inviteText" class="large-text">{{inviteDescription}}</div>
      </div>
      <hr>
      <h3 class='anchor' id='instructions'>Видеоинструкция</h3>
      <div style="max-width: 500px;">

        <iframe width="100%" height="400" src="https://youtube.com/watch?v=2kNXPGpJczE&si=" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <hr>
    </main>

    <footer class="page-container">
      <p class='anchor' id='contacts'>
      <h3>Контакты</h3>
      <h6>Для записи на диагностику, консультацию или обучение обращайтесь по следующим контактам:</h6>
      Дмитрий Целовальнов: <a href="https://t.me/dmitriy_tselovalnov2" target="_blank">t.me/dmitriy_tselovalnov2</a>, WhatsApp: <a
        href="tel:79200787683">+79200787683</a><br>
    </footer>

  </div>

  <script>
    function setSelection(id) {
      var target = document.getElementById(id);
      var rng, sel;
      if (document.createRange) {
        rng = document.createRange();
        rng.selectNode(target)
        sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(rng);
      } else {
        var rng = document.body.createTextRange();
        rng.moveToElementText(target);
        rng.select();
      }
      navigator.clipboard.writeText(sel.toString())
    }
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
